# Dependencies
node_modules/

# Database
*.sqlite
*.db

# Environment variables
.env

# Logs
*.log
npm-debug.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
